#root {
	/* max-width: 1280px; */
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	width: 100vw;
}

/* Masonry Grid Styles */
.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	width: auto;
	margin-inline: auto;
	justify-content: center;
}

.my-masonry-grid_column {
	background-clip: padding-box;
	margin-inline: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Header styles */

h1 {
	margin-top: 0.6rem;
	margin-bottom: 5.5rem;
}

h2 {
	font-size: 1.75rem;
	font-weight: 400;
}

h3 {
	font-size: 1.375rem;
	font-weight: 400;
}

h2,
h3 {
	margin-block: 0;
	margin-inline: 1rem;
}

.search-info {
	font-size: 24px;
	margin-bottom: 3rem;
}

/* Card styles */

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 507px;
	margin-bottom: 4rem;
}

.card > a > img {
	width: 100%;
	padding-bottom: 2rem;
}

.type-date-span {
	display: flex;
	margin: 0;
	align-items: center;
	gap: 0.8rem;
	padding-top: 0.5rem;
}

.type-date-span > svg {
	padding-bottom: 0.35rem;
}

.read-the-docs {
	color: #888;
}

.card-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-bottom: 1rem;
}

.card-link > a {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

.card-link > svg {
	padding-bottom: 0.4rem;
}

.home__title {
	padding-inline: 1rem;
}

.home__title_links {
	list-style: none;
	text-decoration: none;
	display: inline;
	font-size: 2rem;
	color: black;
	padding-inline: 5rem;
	/* padding-bottom: 4rem; */
}

.home__title_links:hover {
	text-decoration: underline;
	text-underline-offset: 10px;
	transition: width 1s;
}

/* Desktop Styles */

@media (min-width: 840px) {
	body {
		overflow-x: hidden;
	}

	/* Masonry styles */
	.my-masonry-grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
	}
	.my-masonry-grid_column {
		background-clip: padding-box;
		margin-inline: 3rem;
	}

	.feed-container {
		display: flex;
		justify-content: center;
		column-gap: 5rem;
	}

	/* Header styles */
	h1 {
		margin-top: 0.6rem;
		font-size: 3rem;
		margin-bottom: 5.5rem;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 400;
	}

	h3 {
		font-size: 1.75rem;
		font-weight: 400;
	}

	h2,
	h3 {
		margin-block: 0;
		margin-inline: 1rem;
	}

	p {
		font-size: 1.25rem;
	}

	a {
		font-size: 2rem;
	}

	.search-info {
		font-size: 32px;
		margin-bottom: 3rem;
	}

	/* Main Title styles */
	.home__title {
		width: 550px;
		font-size: 3rem;
	}

	.home__title-div {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.home__title_links {
		list-style: none;
		text-decoration: none;
		display: inline;
		font-size: 3rem;
		color: black;
		padding-inline: 5rem;
		padding-bottom: 4rem;
	}

	/* Card styles */
	.card {
		min-height: 600px;
		max-width: 700px;
	}

	.card-link > a {
		font-size: 1.5rem;
	}

	.type-date-span > svg {
		width: 90px;
	}

	.type-date-span > svg > g {
		height: 90px;
		width: 90px;
	}
}

@media (max-width: 1000px) {
	.home__title_links {
		font-size: 2rem;
	}
}
